{% load icons %}

<center>
    <div class="container row justify-content-center align-items-center bg-info">
        <div class="col-2 voltar">
            {% icon 'chevron-left' %}
        </div>

        <div class="col-5">
            <select class="form" id="exampleFormControlSelect1">
                {% for x in rod %}
                <option value={{ forloop.counter }}>{{x}}ª</option>
                {% endfor %}
            </select>
            Rodada
        </div>

        <div class="col-2 proximo">
            {% icon 'chevron-right' %}
        </div>
    </div>
</center>
<!-- mostrando so jogos -->
<center>
    <form>
        {% for j in jogos %}
        <div class="container row justify-content-center align-items-center border border-info jg jg{{j.rodada}}">
            <div class="col-4">
                <h5>{{ j.timea }}</h5>
            </div>
            <div class="col-4">
                {% if j.placara == None %}
                <center>
                    <div class="form-group">
                        <input type="text" name='placara' class="inp-lenght" value="">
                        <span class="col-auto">x</span>
                        <input type="text" name='placarb' class="inp-lenght" value="">
                    </div>
                </center>
                {% else %}
                <center>
                    <h5>{{ j.placara }}x{{ j.placarb }}</h5>
                </center>
                {% endif %}
            </div>
            <div class="col-4">
                <h5>{{ j.timeb }}</h5>
            </div>
        </div>
        {% endfor %}
    </form>
</center>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script>
    soma = 0
    monta_rodada(soma)
    $(document).ready(() => {
        $('.voltar').click(() => {
            soma = -1
            monta_rodada(soma)
        })
        $('.proximo').click(() => {
            soma = 1
            monta_rodada(soma)
        })
        $('#exampleFormControlSelect1').change(() => {
            soma = 0
            monta_rodada(soma)
        })
    })

    function monta_rodada(soma) {
        atual = $('#exampleFormControlSelect1').val()
        proximo = parseInt(atual) + soma
        mostra_rodada(atual, proximo)
    }

    function mostra_rodada(atual, proximo){
        if (proximo == 0 || proximo == 14) {
        }
        else {
            $('#exampleFormControlSelect1').val(proximo)
            classAtual = 'jg' + proximo
            todos_jogos = $('.jg')

            for (let j = 0; j < todos_jogos.length; j = j + 1) {

                if ($(todos_jogos[j]).hasClass(classAtual)) {
                    $(todos_jogos[j]).removeClass('d-none')
                }
                else {
                    $(todos_jogos[j]).addClass('d-none')
                }
            }
        }
    }

</script>